@model RobotBusiness.Model.FinalPositionModel
@{
    ViewBag.Title = "Robot Movement";
}
<div>
    <h1>Robot War Test</h1>
</div>
<br />
<br />
<div class="form-horizontal">
    <div>
        <label>@Model.Position </label>
        <br/>
        <label>Penality @Model.Penality</label> 
    </div>
</div>
